<div class="form">
  
  <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
    
    <h2>Register</h2>

    

    <input type="text" name="username" id="register-username" 
    placeholder="username"
    formControlName="username">

    <ng-container *ngIf="form.get('username')?.touched">
      <p class="error" *ngIf="form.get('username')?.errors?.['required']">
        Username is required!
      </p>
      <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
       Username must be at least 5 characters
      </p>
    </ng-container>
    
    <input type="text" name="email" id="register-email" 
    placeholder="email"
    formControlName="email">
    
    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required</p>
      <p class="error" *ngIf="form.get('email')?.errors?.['emailValidtor']">Email is not valid</p>
    </ng-container>


    <ng-container formGroupName="passGroup">
      <input type="password" name="password" id="register-password" 
      placeholder="password"
      formControlName="password">

      <input type="password" name="re-password" id="repeat-password" 
      placeholder="repeat password"
      formControlName="rePassword">

      <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
        <p class="error" *ngIf="form.get('passGroup')?.errors?.['matchPassworsValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']">
          Passwords does not match</p>


      </ng-container>
    </ng-container>
    

    
    <button [disabled]="form.invalid">register</button>
    
    <p class="message">Already registered? <a href="/login">Login</a></p>
    
  </form>


  <!-- <p class="error">
        Password is required
      </p>
      <p class="error">
        Password must be at least 6 characters!
      </p> -->
</div>