<div  class="container">
    <h3 class="">{{recipe.name}}</h3>
    <!-- <p *ngFor="let comment of recipe.comments">{{comment.content}}</p> -->
    <div class="content">
        <div class="ingredient-grup">
            <h4>Ingredients: </h4>
            <div class ="ingredinet" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</div>
        </div>
        <div class="steps-group">
            <h4>Steps:</h4>
            <div class="steps" *ngFor="let step of recipe.steps">{{step}}</div>
        </div>
    </div>
    
    <footer>
        <p>{{recipe._createdOn | date}}</p>
        <a routerLink="/comments">Comments</a>
    </footer>
    


</div>
