<div  class="container">
    <h3 class="">{{recipe.name}}</h3>
    <p>Posted on: {{recipe._createdOn | date}}</p>

    <div class="content">
        <div class="ingredient-grup">
            <h4>Ingredients: </h4>
            <div class ="ingredinet" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</div>
        </div>
        <div class="steps-group">
            <h4>Steps:</h4>
            <div class="steps" *ngFor="let step of recipe.steps">{{step}}</div>
        </div>

    </div>
    
    <div class="comments-cotainer">
        <p>Comments:</p> 
        <button >Add comment</button>
        

        <div *ngFor="let comment of comments">

            <ul *ngIf="comment.recipeId == recipe._id" class="comment">
                    <li>
                        <p>Created on:{{comment._createdOn | date}}</p>
                        <p>{{comment.content}}</p>
                    </li>
        

                </ul>
        </div>
    </div>

</div>


