<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">CookBook</span></p>
        </div>
        <div *ngIf="!isLoggnedIn" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
        <div  *ngIf="isLoggnedIn" class="mini-navbar">
            <ul>
                
                <li class ="profile">
                    <a routerLink="profile">{{firstName}}'s Profile</a>
                </li>
                
                <li (click) = "logout()">
                    <a>Logout</a>
                </li>

            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLink="/add-recipe">Add recipe</a>
            </li>
        </ul>
    </nav>

</header>