button{
    padding: 0;
    border: none;
    background: none;
}

.recipe-list{
    border: 2px solid purple;
    padding: 2em;
    border-radius: 1em;
    margin: 1em 1em;
}
button:focus{
    color: rgb(15, 134, 31);
}