<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section>
    <app-welcome *ngIf="!isLoggedIn"/>
    <div *ngFor="let recipe of recipes" class="recipe-list"> 
        <h3><a [routerLink]="recipe._id">{{recipe.name | slice : 25}}</a></h3>



        <!-- <button *ngIf="isLiked(recipe)  && !isLiked(recipe)" ><i class="fa fa-thumbs-up" style="font-size:48px"></i></button> -->
        <!-- <button *ngIf="isLoggedIn && isLiked(recipe)" ><i class="fa fa-thumbs-down" style="font-size:48px"></i></button> -->



        <p>Likes : {{recipe.likes?.length || 0}}</p>
        <p>Created at: {{recipe._createdOn | date}}</p>
        <!-- <p>{{recipe.userId.username}}</p> -->
    <hr/>
      
    </div>

 

</section>